<%include ./partials/header%>
<h1>Sign Up</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="avatar" placeholder="Avatar url">
    <input type="text" name="adminCode" placeholder="Admin Code">
    <button>Sign up</button>
</form>

<%include ./partials/footer%>