<% include ./partials/header %>
<main role="main" class="flex-shrink-0 page reset-pass" style="margin-top: 20px;">
	<section class="reset-pass-form dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h1>
								Reset Password
							</h1>
						</div>
						<div class="card-body">
							<div class="card-text">
								<form action="/reset/<%= token %>" method="POST">
									<div class="form-group">
										<input id="password type=" password" name="password" value=""
											placeholder="New password" autofocus="autofocus" class="form-control" />
										<label for="password">New Password</label>
									</div>
									<div class="form-group">
										<input id="confirm" type="password" name="confirm" value=""
											placeholder="Confirm password" class="form-control" />
										<label for="confirm">Confirm Password</label>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Update Password</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<% include ./partials/footer %>